@import "_reset_css.scss";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

html {
    font-family: Microsoft JhengHei;
    background: #fedc00;
    min-width: 1300px;
    height: 100%;
    overflow: hidden;
    @supports (-webkit-touch-callout: none) {
        position: absolute;
        transform: scale(0.8);
        top: -10%;
        left: -14%;
    }
}

main {
    position: relative;
    min-width: 1300px;
    height: 1000px;
    overflow: hidden;
    margin: 0 auto;
    article {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        .logo {
            position: absolute;
            background: url(../images/logo.png) no-repeat top center;
            background-size: 200%;
            background-position: 0 0;
            width: 427px;
            height: 268px;
            top: 19px;
            left: -50px;
            // left: 6px;
        }
        .login {
            position: absolute;
            width: 415px;
            height: 178px;
            top: 307px;
            left: -50px;
            // left: 6px;
            .t {
                width: 415px;
                height: 54px;
                margin: 0 0 45px 0;
                @include clearfix;
                .n,
                .o {
                    float: left;
                    width: 198px;
                    height: 52px;
                    line-height: 52px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: #1d0c00;
                    cursor: pointer;
                    border-radius: 30px;
                    border: 1px solid #f3de95;
                    box-shadow: 0px 10px 10px -5px #000;
                    background: #d08f28;
                    background: linear-gradient(
                        to top,
                        #782900 0%,
                        #d08f28 15%,
                        #974e00 30%,
                        #b05c01 37%,
                        #fff4ac 73%,
                        #e9ae3a 95%,
                        #b03d01 100%
                    );
                    &:hover,
                    &:active,
                    &.active {
                        color: #fff;
                        border: 1px solid #f90000;
                        background: #8e0002;
                        background: linear-gradient(to top, #2a0000 0%, #8e0002 59%, #ff0000 100%);
                    }
                }
                .n {
                    margin: 0 15px 0 0;
                }
            }
            .b {
                width: 415px;
                height: 81px;
                @include clearfix;
                .l {
                    float: left;
                    width: 254px;
                    height: 81px;
                    margin: 0 18px 0 0;
                    .lt,
                    .lb {
                        width: 246px;
                        height: 32px;
                        line-height: 32px;
                        margin: 0 22px 0 0;
                        font-size: 19px;
                        color: #fff;
                        border: 1px solid #f3de95;
                        border-radius: 3px;
                        background: #000;
                        padding: 0 0 0 6px;
                        input {
                            background: #000;
                            outline: none;
                            padding: 0 0 0 5px;
                            width: 198px;
                            @supports (-webkit-touch-callout: none) {
                                padding: 0;
                                height: 20px;
                                width: 190px;
                            }
                        }
                    }
                    .lt {
                        margin: 0 0 13px 0;
                    }
                }
                .r {
                    float: left;
                    width: 141px;
                    height: 79px;
                    line-height: 79px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: #1d0c00;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px solid #f3de95;
                    box-shadow: 0px 10px 10px -5px #000;
                    background: #d08f28;
                    background: linear-gradient(
                        to top,
                        #782900 0%,
                        #d08f28 15%,
                        #974e00 30%,
                        #b05c01 37%,
                        #fff4ac 73%,
                        #e9ae3a 95%,
                        #b03d01 100%
                    );
                    &:hover,
                    &:active,
                    &.active {
                        color: #fff;
                        border: 1px solid #f90000;
                        background: #8e0002;
                        background: linear-gradient(to top, #2a0000 0%, #8e0002 59%, #ff0000 100%);
                    }
                }
            }
        }
        .image2 {
            position: absolute;
            background: url(../images/image2.png) no-repeat top center;
            background-size: 100%;
            width: 825px;
            height: 643px;
            // top: 37px;
            top: -2px;
            left: 413px;
            // left: 483px;
            animation: bounceIn;
            animation-duration: 1s;
        }
        .image1 {
            position: absolute;
            background: url(../images/image1.png) no-repeat top center;
            background-size: 100%;
            // width: 523px;
            // height: 622px;
            width: 518px;
            height: 672px;
            // top: 209px;
            // left: 372px;
            top: 166px;
            left: 383px;
            // left: 442px;
            animation: bounceIn;
            animation-duration: 1s;
        }
    }
    .bg {
        position: absolute;
        background: url(../images/bg.jpg) no-repeat top center;
        background-size: 1920px;
        // background-position: -375px 0;
        width: 100%;
        height: 100%;
        z-index: -20;
    }
}
