html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: Microsoft JhengHei;
  background: #060f16;
  min-width: 1300px;
  height: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  html {
    position: absolute;
    transform: scale(0.8);
    top: -10%;
    left: -14%;
  }
}

main {
  position: relative;
  min-width: 1300px;
  height: 1000px;
  overflow: hidden;
  margin: 0 auto;
}
main article {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
main article .logo {
  position: absolute;
  background: url(../images/logo.png) no-repeat top center;
  background-size: 200%;
  background-position: 0 0;
  width: 427px;
  height: 268px;
  top: 19px;
  left: 6px;
}
main article .login {
  position: absolute;
  width: 415px;
  height: 178px;
  top: 307px;
  left: 6px;
  background-color: #000;
}
main article .login .t {
  background-color: #fff;
  width: 415px;
  height: 54px;
  margin: 0 0 45px 0;
  *zoom: 1;
}
main article .login .t:after, main article .login .t:before {
  content: "";
  display: table;
}
main article .login .t:after {
  clear: both;
}
main article .login .t .n,
main article .login .t .o {
  float: left;
  background-color: red;
  width: 200px;
  height: 54px;
}
main article .login .t .n {
  margin: 0 15px 0 0;
}
main article .login .b {
  background-color: #fff;
  width: 415px;
  height: 81px;
}
main article .login .b .l {
  float: left;
  background-color: red;
  width: 250px;
  height: 81px;
}
main article .login .b .r {
  background-color: red;
  float: left;
  width: 143px;
  height: 81px;
}
main article .login .b .l {
  margin: 0 22px 0 0;
}
main article .image2 {
  position: absolute;
  background: url(../images/image2.png) no-repeat top center;
  background-size: 100%;
  width: 825px;
  height: 643px;
  top: 37px;
  left: 483px;
}
main article .image1 {
  position: absolute;
  background: url(../images/image1.png) no-repeat top center;
  background-size: 100%;
  width: 523px;
  height: 622px;
  top: 209px;
  left: 442px;
}
main .bg {
  position: absolute;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: 1920px;
  width: 100%;
  height: 100%;
  z-index: -20;
}