html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: Microsoft JhengHei;
  background: #fedc00;
  min-width: 1300px;
  height: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  html {
    position: absolute;
    transform: scale(0.8);
    top: -10%;
    left: -14%;
  }
}

main {
  position: relative;
  min-width: 1300px;
  height: 1000px;
  overflow: hidden;
  margin: 0 auto;
}
main article {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
main article .logo {
  position: absolute;
  background: url(../images/logo.png) no-repeat top center;
  background-size: 200%;
  background-position: 0 0;
  width: 427px;
  height: 268px;
  top: 19px;
  left: -50px;
}
main article .login {
  position: absolute;
  width: 415px;
  height: 178px;
  top: 307px;
  left: -50px;
}
main article .login .t {
  width: 415px;
  height: 54px;
  margin: 0 0 45px 0;
  *zoom: 1;
}
main article .login .t:after, main article .login .t:before {
  content: "";
  display: table;
}
main article .login .t:after {
  clear: both;
}
main article .login .t .n,
main article .login .t .o {
  float: left;
  width: 198px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1d0c00;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #f3de95;
  box-shadow: 0px 10px 10px -5px #000;
  background: #d08f28;
  background: linear-gradient(to top, #782900 0%, #d08f28 15%, #974e00 30%, #b05c01 37%, #fff4ac 73%, #e9ae3a 95%, #b03d01 100%);
}
main article .login .t .n:hover, main article .login .t .n:active, main article .login .t .n.active,
main article .login .t .o:hover,
main article .login .t .o:active,
main article .login .t .o.active {
  color: #fff;
  border: 1px solid #f90000;
  background: #8e0002;
  background: linear-gradient(to top, #2a0000 0%, #8e0002 59%, #ff0000 100%);
}
main article .login .t .n {
  margin: 0 15px 0 0;
}
main article .login .b {
  width: 415px;
  height: 81px;
  *zoom: 1;
}
main article .login .b:after, main article .login .b:before {
  content: "";
  display: table;
}
main article .login .b:after {
  clear: both;
}
main article .login .b .l {
  float: left;
  width: 254px;
  height: 81px;
  margin: 0 18px 0 0;
}
main article .login .b .l .lt,
main article .login .b .l .lb {
  width: 246px;
  height: 32px;
  line-height: 32px;
  margin: 0 22px 0 0;
  font-size: 19px;
  color: #fff;
  border: 1px solid #f3de95;
  border-radius: 3px;
  background: #000;
  padding: 0 0 0 6px;
}
main article .login .b .l .lt input,
main article .login .b .l .lb input {
  background: #000;
  outline: none;
  padding: 0 0 0 5px;
  width: 195px;
}
@supports (-webkit-touch-callout: none) {
  main article .login .b .l .lt input,
main article .login .b .l .lb input {
    padding: 0;
    width: 195px;
  }
}
main article .login .b .l .lt {
  margin: 0 0 13px 0;
}
main article .login .b .r {
  float: left;
  width: 141px;
  height: 79px;
  line-height: 79px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1d0c00;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #f3de95;
  box-shadow: 0px 10px 10px -5px #000;
  background: #d08f28;
  background: linear-gradient(to top, #782900 0%, #d08f28 15%, #974e00 30%, #b05c01 37%, #fff4ac 73%, #e9ae3a 95%, #b03d01 100%);
}
main article .login .b .r:hover, main article .login .b .r:active, main article .login .b .r.active {
  color: #fff;
  border: 1px solid #f90000;
  background: #8e0002;
  background: linear-gradient(to top, #2a0000 0%, #8e0002 59%, #ff0000 100%);
}
main article .image2 {
  position: absolute;
  background: url(../images/image2.png) no-repeat top center;
  background-size: 100%;
  width: 825px;
  height: 643px;
  top: -2px;
  left: 413px;
  animation: bounceIn;
  animation-duration: 1s;
}
main article .image1 {
  position: absolute;
  background: url(../images/image1.png) no-repeat top center;
  background-size: 100%;
  width: 518px;
  height: 672px;
  top: 166px;
  left: 383px;
  animation: bounceIn;
  animation-duration: 1s;
}
main .bg {
  position: absolute;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: 1920px;
  width: 100%;
  height: 100%;
  z-index: -20;
}